<mat-progress-spinner *ngIf="isGenerating"></mat-progress-spinner>
<div class="grid grid-rows-3 h-full gap-2 overflow-hidden">
  <div class="generated-content h-full w-full row-span-2 pl-32 pr-32 mt-2">
    <mat-card>
      <mat-card-content>

        <div class="flex flex-1 gap-20">
          <div class="face-photo justify-self-center flex items-center justify-center bg-gray-300 rounded sm:w-96 ">
            <svg *ngIf="base64GeneratedImage == ''" class="w-10 h-10 text-gray-200 dark:text-gray-600"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
              <path
                d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"/>
            </svg>

            <img *ngIf="base64GeneratedImage != ''" src="data:image/png;base64,{{base64GeneratedImage}}"
                 alt="Generated image" class="face-photo">

          </div>

          <div
            class="h-[300px] min-h-[1em] w-px self-stretch bg-gradient-to-tr from-transparent via-neutral-500 to-transparent opacity-20 "></div>


          <div class="flex justify-end gap-32">
            <dl class="max-w-md text-gray-900 divide-y divide-gray-200">
              <div class="flex flex-col pb-3">
                <dt class="mb-1 text-gray-500 md:text-lg">Personnummer</dt>
                <dd class="text-lg font-semibold">199602217094</dd>
              </div>
              <div class="flex flex-col py-3">
                <dt class="mb-1 text-gray-500 md:text-lg">Förnamn</dt>
                <dd class="text-lg font-semibold">Robert</dd>
              </div>
              <div class="flex flex-col pt-3">
                <dt class="mb-1 text-gray-500 md:text-lg">Efternamn</dt>
                <dd class="text-lg font-semibold">Grubesic</dd>
              </div>
              <div class="flex flex-col pt-3">
                <dt class="mb-1 text-gray-500 md:text-lg">Födelseort</dt>
                <dd class="text-lg font-semibold">DANDERYD</dd>
              </div>
            </dl>

            <dl class="max-w-md text-gray-900 divide-y divide-gray-200 mr-2">
              <div class="flex flex-col pb-3">
                <dt class="mb-1 text-gray-500 md:text-lg">Kön</dt>
                <dd class="text-lg font-semibold">M</dd>
              </div>
              <div class="flex flex-col py-3">
                <dt class="mb-1 text-gray-500 md:text-lg">Längd</dt>
                <dd class="text-lg font-semibold">185 cm</dd>
              </div>
              <div class="flex flex-col pt-3">
                <dt class="mb-1 text-gray-500 md:text-lg">Mobilnummer:</dt>
                <dd class="text-lg font-semibold">070-728 88 40</dd>
              </div>
              <div class="flex flex-col pt-3">
                <dt class="mb-1 text-gray-500 md:text-lg">E-post</dt>
                <dd class="text-lg font-semibold">robertgrubesic hotmail.com</dd>
              </div>
            </dl>

          </div>
        </div>


      </mat-card-content>
    </mat-card>
  </div>

  <div class="input row-span-1 pl-32 pr-32">
    <mat-card>
      <mat-card-content *ngIf="!isGenerating">
        <form (ngSubmit)="generateImage()">
          <label for="message" class="block mb-2 text-sm font-medium text-gray-900">Prompt</label>
          <div class="flex">
          <textarea id="message" rows="4"
                    [(ngModel)]="prompt"
                    name="prompt"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-tw focus:border-primary-tw"
                    placeholder="Write your thoughts here..."></textarea>

            <button class="flex self-center" type="submit" mat-icon-button aria-label="Send">
              <mat-icon color="primary">send</mat-icon>
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

  </div>

</div>
