<mat-toolbar color="primary">
  <!--button mat-icon-button (click)="isNavbarOpened = !isNavbarOpened">
    <mat-icon>menu</mat-icon>
  </button-->
  <div class="flex gap-2 items-center">
    <p class="text-3xl font-bold">Paragon</p>
    <span class="text-base text-accent-tw self-end">v{{ appVersion }}</span>
  </div>
  <span class="flex-grow"></span>
  <button mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>
  <!--button mat-mini-fab>
    <mat-icon>notifications</mat-icon>
  </button-->
</mat-toolbar>
