<div class="grid grid-rows-[100px,1fr,64px] h-screen">

  <!-- Top section: logo or user info -->
  <div>
    <img *ngIf="!isNavbarOpened" src="assets/logo/logo.png" alt="Logo" class="h-16 w-16">
    <div *ngIf="isNavbarOpened" class="flex-col ">
      <div
        class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-primary-tw">
        <span class="font-medium text-gray-600 dark:text-gray-300">RG</span>
      </div>

      <div class="text-xs dark:text-primary-tw">
        <div>Robert Grubesic [R00092 839]</div>
        <div>Admin</div>
      </div>
    </div>

  </div>


  <div class="overflow-y-auto">
    <mat-nav-list>
      <ng-container *ngFor="let route of routeLinks">
        <a *ngIf="route.path && route.data" [ngClass]="{'border-l-4 border-primary-tw': rla.isActive}"
           mat-list-item
           [routerLink]="route.path"
           routerLinkActive="active-link" #rla="routerLinkActive">
          <div class="flex content-center gap-2">
            <mat-icon [color]="rla.isActive ? 'primary' : undefined">{{ route.data['icon'] }}</mat-icon>
            <span  [ngClass]="{'text-primary-tw': rla.isActive}" *ngIf="isNavbarOpened">{{ route.data['name'] }}</span>
          </div>
        </a>
        <mat-divider></mat-divider>
      </ng-container>

    </mat-nav-list>
  </div>

  <div class="flex items-center justify-end border-t border-gray-300">
    <button *ngIf="isNavbarOpened" mat-mini-fab class="mr-2" (click)="toggleNavbar()" aria-label="Close navigation">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <button *ngIf="!isNavbarOpened" mat-mini-fab class="mr-2" (click)="toggleNavbar()" aria-label="Open navigation">
      <mat-icon>arrow_right_alt</mat-icon>
    </button>
  </div>

</div>


