<mat-sidenav-container class="h-full" autosize>
  <mat-sidenav #nav opened mode="side" disableClose
               [ngClass]="{'drawer-closed': !isNavbarOpened, 'drawer-open': isNavbarOpened}">
    <div class="bg-accent-second-tw h-screen overflow-hidden">
      <app-vertical-navigation [isNavbarOpened]="isNavbarOpened"
                               (isNavbarOpenedChange)="onIsNavbarOpenedChange($event)"></app-vertical-navigation>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="grid grid-rows-[auto,1fr] h-full">

      <!-- Header section -->
      <header>
        <app-toolbar [isNavbarOpened]="isNavbarOpened" class="row-span-1"></app-toolbar>
      </header>

      <!-- Middle content section -->
      <div class="content-container row-span-1 overflow-y-auto h-full">
        <router-outlet></router-outlet>
      </div>

      <!-- Footer section -->
      <!--div class="row-span-1 bg-accent-second-tw">
        <app-footer></app-footer>
      </div-->

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
