<mat-progress-bar color="accent" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="container mx-auto p-4">
  <div class="flex  gap-5 items-center">
    <button (click)="goBack()" class="mb-4 bg-primary-tw hover:bg-gray-900 text-white font-bold py-2 px-4 rounded">
      Back
    </button>
    <h2 class="text-2xl font-bold mb-4">{{ videoName }}</h2>
  </div>


  <video *ngIf="videoUrl" class="h-full w-full rounded-lg"(loadeddata)="onVideoLoad()" controls autoplay #videoPlayer>
    <source [src]="videoUrl" type="video/mp4">
    Your browser does not support the video tag.
  </video>



  <div *ngFor="let errorMessage of errorMessages" class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-primary-tw dark:text-red-400" role="alert">
    <span  class="font-medium">Could not load video</span> {{errorMessage}}
  </div>
</div>
